<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <br>
    <h2 style="color:white;"> Restaurants Analysis for Uber Eats</h2>
    <div class="menu_bar">

<form action = "{{ url_for("display_sentiment")}}" method = "post" >
<ul>
    <li class="active"> <i class="fa fa-cutlery"></i> Restaurants</a>
<div class="sub_menu_1">
        <ul>
          <select name="rest_name">
            <li class="active"><option value="SR8nISkNDVfAwvE3VEogwA">Golden swan</option></li>
            <li><option value="tHDZo1q2oImGvfGXoWD4Kw"> Mixx Bao</option></li>
            <li><option value="b102gNXJjaOSsDc3G1ePTQ">Fujiya</option></li>
            <li><option value="DhWNZXfKSlUxMcQQ6EUkMA">The Greek By Anatoli</option></li>
            <li><option value="ugmLTWLLJ8BYUCxv6V_qqw">Mancakes Bakery</option></li>
            <li><option value="gUz4wv7a4M8i2Cj2IqwGVA">Safeway</option></li>
            <li><option value="6IMgEnSZyb-8N7yPDDdKIw">Pasture To Plate</option></li>
            <li><option value="I2rI0NW6j9_bhlrahJbYtQ">Poke Station</option></li>
            <li><option value="JfC4A8uJXxdVBuK1hCcJLw">A La Mode</option></li>
            <li><option value="nnAhW9nOUTBWXXIwSwWeDQ">Urban Sushi</option></li>
            <li><option value="Virtuous Pie">Virtuous Pie</option></li>
          </select>
        </ul>
</div>

    </li>
</ul>
<input type="submit" class="btn btn1" value="Analayze Restaurants">
 </div>

</body>
</html>
